/* -------------ОБЩИЕ СВОЙСТВА------------- */
* {
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: "DM Sands";
    src: url("./fonts/DMSans-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "DM Sands";
    src: url("./fonts/DMSans-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "DM Sands";
    src: url("./fonts/DMSans-Bold.ttf") format("ttf");
} */

body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

/* -------------КЛАССЫ ДЛЯ ЦВЕТА и ТЕНЬ------------- */
.black {
    color: #000000;
}

.blue {
    color: #4200FF;
}

.white {
    color: #FFFFFF;
}

.shadows {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* -------------HEADER------------- */
header {
    height: 90px; 
    display: flex;   
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;   
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logoHeader img {
    margin-right: 80px;
}

.menuHeader {
    list-style-type: none;
    display: flex;
}

.menuHeaderLink1,
.menuHeaderLink2 {
    margin-right: 33px;
}

.cardsPhone {
    margin-right: 40px;
}

.cardsHeader {
    height: 90px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsHeader-box1,
.cardsHeader-box2,
.cardsHeader-box3 {
    width: 48px;
    height: 48px;
    background: #F2F3F5;
    border-radius: 50%;    
}

.cardsHeader-box1,
.cardsHeader-box2 {
    margin-right: 20px;    
}

.cardsHeader-box1,
.cardsHeader-box2,
.cardsHeader-box3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* АБСОЛЮТНОЕ ПОЗИЦИОНИРОВАНИЕ
.logoHeader {
    position: relative;
    
}

.logoHeader img {
    z-index: 2;
    position: relative;
}

.grey-circle {
    background-color: #F2F3F5;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -12px;
    z-index: 0;
} */

/* ------------SECTION 1------------- */
.wrapper1 {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 600px;   
    margin: 0 80px;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 40px;
}

.wheelpic {
    width: 1000px;
    height: 100%;
    background-color: #F5F5F5;
    background-image: url(./images/car-wheel-font.png), url(./images/car-wheel-font-shadow.png);
    background-repeat: no-repeat;
    background-size: 150%, 100%;
    background-position-x: -165px, 15px;
    background-position-y: 78px, 440px;
}

.wrapper1-text {
    display: flex;
    flex-direction: column;
    width: 627px;
    padding: 0 62px;
}

.wrapper1-text h1 {
    width: 591px;
    height: 159px;
    font-weight: 700;
    font-size: 41px;
    line-height: 53px;
    margin-bottom: 10px;
}

.wrapper1-text p {
    width: 542px;
    height: 36px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
}

.input {
    display: flex;
    position: relative;
    align-items: center;
    width: 514px;
}

.wrapper1-text input {
    width: 514px;
    height: 62px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding-left: 17px;
    padding-right: 92px;
    box-sizing: border-box;
}

.input-icon {
    width: 75px;
    height: 58px;
    background: rgba(66, 0, 255, 0.8);
    border-radius: 8px;
    position: absolute;
    right: 2px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
font-size: 20px;
color: #FFFFFF;
}

/* ------------SECTION 2 Cards ------------ */
.wrapper2-cards {
    display: flex;   
    margin: 0 80px;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

/*----1-CARD---------*/
.wrapper2-card1 {
    height: 140px;
    width: 415px; 
    display: flex;   
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
}

.wrapper2-card1-pic {
    height: 138px;
    width: 161px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.wrapper2-card1-text {
    height: 140px;
    padding-top: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.wrapper2-card1-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper2-card1-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    height: 36px;
}

/*----2-CARD---------*/
.wrapper2-card2 {
    height: 140px;
    width: 415px; 
    display: flex;   
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
}

.wrapper2-card2-pic {
    height: 138px;
    width: 161px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.wrapper2-card2-text {
    height: 140px;
    padding-top: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.wrapper2-card2-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper2-card2-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    height: 36px;
}

/*----3-CARD---------*/
.wrapper2-card3 {
    height: 140px; 
    width: 415px; 
    display: flex;   
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
}

.wrapper2-card3-pic {
    height: 138px;
    width: 161px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.wrapper2-card3-text {
    height: 140px;
    padding-top: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.wrapper2-card3-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper2-card3-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    height: 36px;
}

/* ---------SECTION 3--Side Meniu & Cards------------- */
.wrapper3 {
    display: flex;
    /* align-items: center; */
    width: 1280px;
    height: 804px;   
    margin: 0 80px;
    background-color: aquamarine;
    margin-bottom: 60px;
}

.wrapper3-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 380px;
    height: 732px;   
    background-color: rgb(165, 55, 147);
    margin-bottom: 40px;
}

.wrapper3-asideOne,
.wrapper3-asideTwo,
.wrapper3-asideThree,
.wrapper3-asideFour {
    width: 318px;
    height: 36px;
    background-color: burlywood;
    margin-bottom: 20px;
}

.wrapper3-card-block {
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start; */
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    height: 732px;   
    background-color: rgb(151, 224, 122);
    margin-bottom: 40px;
}

.wrapper3-card1,
.wrapper3-card2,
.wrapper3-card3,
.wrapper3-card4,
.wrapper3-card5,
.wrapper3-card6 {
    width: 278px;
    height: 356px;
    background-color: rgb(230, 227, 55);
}

.wrapper3-card1,
.wrapper3-card2,
.wrapper3-card3 {   
margin-bottom: 20px;
}

.wrapper3-card1,
.wrapper3-card4 {
    margin-left: 20px;
}

.wrapper3-card1,
.wrapper3-card2,
.wrapper3-card4,
.wrapper3-card5 {
    margin-right: 20px;
}

/* ------------SECTION 4 Cards ------------ */
.wrapper4-cards {
    display: flex;   
    margin: 0 80px;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

/*----1-CARD---------*/
.wrapper4-card1 {
    height: 140px;
    width: 415px; 
    display: flex;   
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
}

.wrapper4-card1-pic {
    height: 138px;
    width: 161px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.wrapper4-card1-text {
    height: 140px;
    padding-top: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.wrapper4-card1-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper4-card1-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    height: 36px;
}

/*----2-CARD---------*/
.wrapper4-card2 {
    height: 140px;
    width: 415px; 
    display: flex;   
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
}

.wrapper4-card2-pic {
    height: 138px;
    width: 161px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.wrapper4-card2-text {
    height: 140px;
    padding-top: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.wrapper4-card2-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper4-card2-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    height: 36px;
}

/*----3-CARD---------*/
.wrapper4-card3 {
    height: 140px; 
    width: 415px; 
    display: flex;   
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
}

.wrapper4-card3-pic {
    height: 138px;
    width: 161px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.wrapper4-card3-text {
    height: 140px;
    padding-top: 36px;
    padding-left: 15px;
    box-sizing: border-box;
}

.wrapper4-card3-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper4-card3-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 32px;
    height: 36px;
}
/*--------------------SECTION 5------------------------*/
.wrapper5 {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 358px;   
    margin: 0 80px;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 50px;
}

.wrapper5-left {
    display: flex;
    flex-direction: column;
    /* width: 627px;
    padding: 0 62px; */
}

.wrapper5-left h2 {
    width: 530px;
    /* height: 159px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin-left: 40px;
    margin-bottom: 50px;
}

/* .wrapper5-text-shevron {
    display: flex;
    position: relative;
    align-items: center;
    width: 514px;
    margin-left: 40px;
} */

/* .carparts {

} */

.input-wrapper5-shevron {
    width: 75px;
    height: 58px;
    background: none;
    border-radius: 5px;
    left: 250px;
    bottom: 315px; 
    display: flex;
    align-items: center;
}

.fa-solid {
font-size: 20px;
color: black;
}
/*--------------------SECTION 5------------------------*/
.wrapper7 {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 1280px;
    height: 461px;   
    margin: 0 80px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.wrapper7-card1 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card2 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card3 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card4 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card5 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card6 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card7 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

.wrapper7-card8 {
    background: #F7F7F7;
    border-radius: 5px;
    text-align: center;
    width: 305px;
    height: 180px;
}

footer {
    display: flex;    
    align-items: center;
    justify-content: space-around;
    width: 1440px;
    height: 311px;
    background-color: #2F2F2F;
}

.wrapper7-logo,
.wrapper7-text1,
.wrapper7-text2,
.wrapper7-social {
    color: #FFFFFF
}

.wrapper7-logo {
    transform: translate(0px, -100px);
}


.wrapper7-text1 {
    transform: translate(0px, -60px);
        line-height: 2;
}

.wrapper7-text1 li {
    list-style-type: none;
}

.wrapper7-text2 {
    transform: translate(0px, -60px);
        line-height: 2;
}

.wrapper7-text2 li {
    list-style-type: none;
}

.wrapper7-social {
    transform: translate(0px, -93px);
    line-height: 2;
}

.wrapper7-social-icons {
    display: flex;
    justify-content: flex-end;
}

.wrapper7-social-telegram,
.wrapper7-social-insta {
    margin-right: 26px;
}




















/* .wrapper7-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    width: 128px;
    margin-bottom: 30px;
} */























/* FLEX WRAP */
/* .block {
    flex-basis: 250px;
    height: 200px;
    border-radius: 8px;
    background-color: aquamarine;
    margin-bottom: 20px;
    margin-top: 20px;
} */
/* Присваевается каждому ребёнку */
/* .block1 {
    flex-grow: 1;
}

.block:last-child {
    margin: 0;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    padding: 70px 0 0 0;
} */